<!DOCTYPE html>

<html>
    <head prefix="og: http://ogp.me/ns#">
        <mofeta charset="utf-8" />
        <meta name="description" content="{{ page.description }}" />
        <meta name="author" content="{{ site.author }}" />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
        <meta property="og:type" content="website">
        <meta property="og:image" content="{{ site.url }}/img/epi-cover-100000.png">
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        <meta property="og:description" content="{{ page.description }}">

        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}{{ site.feed }}">
    {% for css in site.css %}
        <link href="{{ css }}" rel="stylesheet" type="text/css">
    {% endfor %}
    {% if page.id == 'home' %}
        {% for css in site.posts.first.css %}
        <link href="{{ css }}" rel="stylesheet" type="text/css">
        {% endfor %}
    {% else %}
        {% for css in page.css %}
        <link href="{{ css }}" rel="stylesheet" type="text/css">
        {% endfor %}
    {% endif %}
    </head>

    <body>
        <div class="container">
            <div class="nav-button">
                <i class="icon-reorder"></i>
            </div>
            <div class="side">
                <div class="logo">
                    <img style="margin-right:-30px;" src="/img/epi-globe-128.png" alt="EPI"/>
                </div>

                <div class="paragraphs">

                <h2 style="text-align:right; line-height:28px;">Elements of Programming Interviews</h2>

                </div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/release-1.4/"><font color=red>Release 1.4</font></a></li>
                    <li><a href="/sample/">PDF Sample</a></li>
                    <li><a href="http://talk.elementsofprogramminginterviews.com/">Forum</a></li>
                    <!-- <li><a href="/reviews/">Reviews</a></li> -->
                    <li><a href="/posts/">Posts</a></li>
                    <li><a href="/about/">About Us</a></li>
                    <li><a href="/solutions/">Code</a></li>
                    <li><a href="/bugs/">Bugs</a></li>
                    <li><a href="/register/">Register</a></li>
                    <li><a href="/ack/">Acknowledgements</a></li>
                    <li><a href="{{ site.feed }}">RSS <i class="icon-rss"></i></a></li>
                </ul>

                <p class="profiles">
                    <a title="GitHub" href="https://github.com/epibook"><i class="icon-github-sign"></i></a>
                    <a title="Twitter" href="https://twitter.com/epibook"><i class="icon-twitter-sign"></i></a>
                    <a title="Facebook" href="https://facebook.com/elementsofprogramminginterviews"><i class="icon-facebook-sign"></i></a>
                </p>
            </div>

            <div class="wrap">
                <div class="content">
                    {{ content }}
                </div>
            </div>
        </div>

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-37651502-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        {% for js in site.js %}
            <script src="{{ js }}" type="text/javascript"></script>
        {% endfor %}
        {% if page.id == 'home' %}
            {% for js in site.posts.first.js %}
                <script src="{{ js }}" type="text/javascript"></script>
            {% endfor %}
        {% else %}
            {% for js in page.js %}
                <script src="{{ js }}" type="text/javascript"></script>
            {% endfor %}
        {% endif %}
    </body>
</html>
